.menu {
    position: relative;
    display: inline-block;
    background: rgb(58, 75, 93);

}

.menuItem {
    float: left;
    cursor: pointer;
    line-height: 100%;
    text-align: left;
    font: 1.1em "Gautami";
    transition: background .1s ease-in-out, color .1s ease-in-out;
    -webkit-transition: background .1s ease-in-out, color .1s ease-in-out;
    -moz-transition: background .1s ease-in-out, color .1s ease-in-out;
    -o-transition: background .1s ease-in-out, color .1s ease-in-out;
    background: rgb(58, 75, 93);
    color: rgb(115, 128, 145);

}

.menuItem:hover {
    background: rgb(50, 64, 77);
    color: rgb(246, 248, 247);

}

.link {
    text-decoration: none;
    color: rgb(115, 128, 145);
    transition: color .1s ease-in-out;
}

.link:hover {
    color: rgb(246, 248, 247);
}

.header {
    background: rgb(79, 113, 150);
}

.vkIcon {
    background: url(img/vk.png) center no-repeat;
    vertical-align: middle;
}

.activeButtonGroup {

    vertical-align: middle;
    padding-left: 20px;
}

.avatarImg {
    position: absolute;
    left: 26%;
    top: 15%;
}

.avatarLogotype {
    position: absolute;
    font-weight: bold;
    vertical-align: middle;
    color: rgb(10, 10, 10);
}

.primaryBtn {
    background: rgb(79, 113, 150);
    color: rgb(246, 248, 247);
    text-align: center;
    border-radius: 17px;
    width: 180px;
    height: 40px;
    line-height: 40px;
    outline: none;
    border: none;
    margin: 5px 0px 5px 0px;
}

input[type=button]:focus {
    outline: none;
}

input[type=button]:active {
    outline: none;
    border: none;
}

.secondaryBtn {
    background: rgb(255, 255, 255);
    color: rgb(168, 178, 187);
    border: 1px solid rgb(168, 178, 187);
    text-align: center;
    border-radius: 17px;
    width: 180px;
    height: 40px;
    margin: 5px 0px 5px 0px;
}

.secondaryBtn.blueBorder {
    border: 1px solid rgb(79, 113, 150);
}

.btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.formLayout {
    width: 100%;
    padding-left: 10%;
    overflow: auto;
}

br {
    clear: left;
}

.primaryLabel {
    text-align: left;
    float: left;

    color: rgb(79, 113, 150);
}

.secondaryLabel {
    text-align: left;
    float: left;
    color: rgb(168, 178, 187);
}

.avatar {
    color: rgb(168, 178, 187);
}

.avatar.bigSize {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid rgb(241, 243, 240);
}

.avatar.small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid rgb(241, 243, 240);
}

.avatar.superSmall {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lion {
    background: url(./img/lion.jpg) no-repeat center;
}

.grass {
    background: url(./img/grass.jpg) no-repeat center;
}

.mount {
    background: url(./img/mount.jpg) no-repeat center;
}

.people {
    background: url(./img/people.jpg) no-repeat center;
}

.sun {
    background: url(./img/sun.jpg) no-repeat center;
}

.crystal-1 {
    background: url(./img/photoSection/crystal-1.jpg) no-repeat center;
}

.crystal-2 {
    background: url(./img/photoSection/crystal-2.jpg) no-repeat center;
}

.crystal-3 {
    background: url(./img/photoSection/crystal-3.jpg) no-repeat center;
}

.pain-lion {
    background: url(./img/photoSection/pain-lion.jpg) no-repeat center;
}

.avatarLogo {
    color: rgb(0, 0, 0);
    line-height: 100%;
    text-align: center;
    font: 1.5em "Gautami";
}

.friendsLogo {
    color: rgb(168, 178, 187);
    line-height: 100%;
    text-align: center;
    font: 1.1em "Gautami";
}

.count {
    font: 0.9em "Gautami";
    color: rgb(185, 185, 185);
}

.rightBottomBorder {
    border-bottom: 1px solid rgb(185, 185, 185);
    border-right: 1px solid rgb(185, 185, 185);
}

.bottomBorder {
    border-bottom: 1px solid rgb(185, 185, 185);
}

.rightBorder {
    border-right: 1px solid rgb(185, 185, 185);
}

.blockContainer {
    display: block;
    text-align: center;
}

.ownerComment {
    text-align: left;
    font-weight: bold;
    font-family: "Gautami";
    padding-top: 25px;
    color: black;
}

.commentTime {
    text-align: right;
    font: 0.9em "Gautami";
    padding-top: 25px;
    color: rgb(185, 185, 185);
}

.commentTime.padding{
    box-sizing: border-box;
    padding-right:15px;
}

.commentContainer {
    position: relative;
}

.commentItem {
    margin: 0px;
    overflow: auto;
    position: absolute;

}

.iconContainer {
    padding-top: 1.5%;
    color: rgb(79, 113, 150);
    text-align: right;
}

.iconItem {
    color: rgb(79, 113, 150);
    margin: 0px;
    overflow: auto;

}

.stretchedContainer {
    float: none;
    display: table-row;
}

.noFloating {
    float: none;
}

.stretchedItem {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.stretchedItem.menu {
    background: rgb(58, 75, 93);

}

.communityContainer {
    position: relative;
    top: 14px;
    left: 14px;
}

.communityItem {
    display: block;
    position: absolute;
}

.messageCount {
    color: rgb(61, 183, 62);
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.messageGreenCount {
    position: absolute;
    display: inline;
    clear: both;
    margin: -16px 0px 0px 5px;
    top: 75%;
    background: rgb(61, 183, 62);
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    font-style: normal;
    color: white;
    line-height: 26px;
}

.messageGreenCountWithoutPosition {

    background: rgb(61, 183, 62);
    width: 27px;
    height: 18px;
    text-align: center;
    font-size: 13px;
    border-radius: 14px;
    font-style: normal;
    color: white;
}

.messageScreenMessageContainer:hover {

    background: rgb(239, 242, 247);
}

.messageScreenMessageContainer {
    border-bottom: 1px solid rgb(232, 232, 230);
    background: rgb(255, 255, 255);
    -webkit-transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    -ms-transition: background .1s ease-in-out;
    -o-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}

.tenPercentPadding {
    padding: 0 10% 0 10%;
}

.messageScreenMessageLogo {
    color: #000;
    font-weight: bold;
}

.avatarContainer {
    padding: 29px 0px 0px 0px;
}

.additionalRight {
    padding-right: 31px;
}

.iconPadding {
    padding: 21px 0px 0px 15px;
}

.typeAheadContainer {
    position: relative;
    height: 68px;;
}

.typeAhead {
    position: absolute;
    width: 90%;
    height: 32px;
    margin-top: 19px;
    border-radius: 15px;
    border: 1px solid rgb(168, 178, 187);
    padding-left: 3%;
    color: rgb(168, 178, 187);
    left: 3%;
}

.typeAhead:focus {

    outline: none;
}

.typeAhead:active {
    outline: none;
}

.typeAheadIconSearch {
    background: url(./img/search.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    top: 25px;
    right: 6%;
}

.boldName {
    height: 68px;
    font-weight: bold;
    font-size: 1.1em;
}

.messageScreenSearchContainer {
    height: 68px;
    position: absolute;
    bottom: 0;
}

.messageHeaderContainer {
    height: 68px;
    position: absolute;
    top: 0;
}

.borderContainer {
    border-bottom: 1px solid rgb(232, 232, 230);
    border-top: 1px solid rgb(232, 232, 230);
}

.baseMargin {
    margin-top: 10px;
}

.clipContainer {
    background: url(./img/clip.png) no-repeat right;
    color: rgb(168, 178, 187);
}

.buttonWithTriangle {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(232, 232, 230);
    width: 34px;
    height: 34px;
    border-radius: 5px;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: rgb(207, 207, 207) transparent transparent transparent;
}

.messageSection {
    position: absolute;
    top: 68px;
    bottom: 68px;
    background: rgb(245, 246, 248);

}

.messageSectionItemContainerOwner {
    background: rgb(245, 246, 248);
    border: 1px solid rgb(233, 234, 236);
    border-radius: 5px;
    top: 45px;
}

.messageSectionItemContainerNotOwner {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(237, 237, 239);
    border-radius: 5px;
    margin-top: 45px;
}

.messageSectionItemTime{
    text-align: left;
    font: 0.9em "Gautami";
    padding-top: 25px;
    color: rgb(185, 185, 185);

}

.messageSectionItemPadding{
    padding:20px 16px 20px 16px;
    box-sizing: border-box;
}


